## Xcode Output
/Tmp

## User settings
/Pillo SDK Device Manager.xcodeproj/xcuserdata/
/Pillo SDK Device Manager.xcodeproj/xcuserdata.meta
/Pillo SDK Device Manager.xcodeproj/**/xcuserdata/
/Pillo SDK Device Manager.xcodeproj/**/xcuserdata.meta

## Gcc Patch
/*.gcno