## System
.DS_Store

## Unwanted Meta Data
/Plugin.xcodeproj/*.meta
/Plugin.xcodeproj/**/*.meta
/Documentation/*.meta
/Documentation/**/*.meta

## Xcode Output
/Tmp

## User settings
xcuserdata/

## Gcc Patch
/*.gcno